body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #efeff1;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

.todo-content {
    background: #fff;
    min-width: 400px;
    padding: 30px;
    border-radius: 10px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #efeff1;
    padding: 10px;
    margin-bottom: 5px;
}

.todo-list .todo-item.completed .todo-text {
    text-decoration: line-through;
}

.toggle-todo {
    cursor: pointer;
    vertical-align: middle;
    margin-right: 10px;
}

.toggle-todo .react-icon {
    
}
